fastapi
uvicorn
gunicorn
aiofiles
requests
httpx
python-multipart
ujson
msgpack
tqdm
icc-rt
numba
opencv-python
scikit-image
onnx==1.8.0
onnx-simplifier
git+https://github.com/lilohuang/PyTurboJPEG.git
tritonclient[http,grpc]