fastapi
uvicorn
gunicorn
aiofiles
requests
httpx
python-multipart
ujson
msgpack
tqdm
icc-rt
numba
opencv-python
scikit-image
onnx==1.13.0
onnxruntime
onnx-simplifier
git+https://github.com/lilohuang/PyTurboJPEG.git
exifread
tritonclient[http,grpc]
imageio