fastapi
fastapi-offline
uvicorn
gunicorn
aiofiles
requests
httpx
python-multipart
ujson
msgpack
tqdm
icc-rt
numba
opencv-python
scikit-image
onnx==1.15.0
onnxruntime==1.16.3
onnx-simplifier
git+https://github.com/lilohuang/PyTurboJPEG.git
exifread
tritonclient[http,grpc]
imageio
aiohttp
tenacity